
html, body {
  margin: 0rem;
  padding: 0rem;
  overflow: hidden;
  font-family: "Hiragino Sans", "Avenir", Tahoma, Arial, Helvetica, sans-serif;

}

a {
  color: black;
}

a:focus {
  background-color: transparent;
  background: none;
}